<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>903697457669-3e5oq6314knbcn1kbao65gbcvs203a44.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.903697457669-3e5oq6314knbcn1kbao65gbcvs203a44</string>
	<key>API_KEY</key>
	<string>AIzaSyAtSvM7VUphaYZzQ_y1RoCwPY_lz8cfjew</string>
	<key>GCM_SENDER_ID</key>
	<string>903697457669</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gsq.flutterAppTodo</string>
	<key>PROJECT_ID</key>
	<string>flutter-app-todo-c908d</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-app-todo-c908d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:903697457669:ios:d648d5aa9875fc8ba8726c</string>
</dict>
</plist>